In [2]:
import pandas as pd

In [6]:
train = pd.read_csv("../train.csv")

In [7]:
train

,age,backpack,bag,handbag,downblack,downblue,downbrown,downgray,downgreen,downpink,...,upwhite,upyellow,clothes,down,up,hair,hat,gender,id,filename
0,2,1,1,1,1,2,1,1,1,1,...,1,1,2,2,2,1,1,1,2,0002_c1s1_000451_03.jpg
1,2,1,1,1,1,2,1,1,1,1,...,1,1,2,2,2,1,1,1,2,0002_c1s1_000551_01.jpg
2,2,1,1,1,1,2,1,1,1,1,...,1,1,2,2,2,1,1,1,2,0002_c1s1_000776_01.jpg
3,2,1,1,1,1,2,1,1,1,1,...,1,1,2,2,2,1,1,1,2,0002_c1s1_000801_01.jpg
4,2,1,1,1,1,2,1,1,1,1,...,1,1,2,2,2,1,1,1,2,0002_c1s1_069056_02.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12931,2,2,1,1,1,1,1,2,1,1,...,1,1,2,2,2,1,1,1,1500,1500_c3s3_062778_01.jpg
12932,2,2,1,1,1,1,1,2,1,1,...,1,1,2,2,2,1,1,1,1500,1500_c5s3_063312_02.jpg
12933,2,2,1,1,1,1,1,2,1,1,...,1,1,2,2,2,1,1,1,1500,1500_c5s3_063337_02.jpg
12934,2,2,1,1,1,1,1,2,1,1,...,1,1,2,2,2,1,1,1,1500,1500_c6s3_086542_02.jpg
12935,2,2,1,1,1,1,1,2,1,1,...,1,1,2,2,2,1,1,1,1500,1500_c6s3_086567_01.jpg

In [12]:
import pandas as pd

columns = ['id', 'filename'] + [col for col in train.columns if col not in ['id', 'filename']]

train = train[columns]

print(train.head())

   id                 filename  age  backpack  bag  handbag  downblack  \
0   2  0002_c1s1_000451_03.jpg    2         1    1        1          1
1   2  0002_c1s1_000551_01.jpg    2         1    1        1          1
2   2  0002_c1s1_000776_01.jpg    2         1    1        1          1
3   2  0002_c1s1_000801_01.jpg    2         1    1        1          1
4   2  0002_c1s1_069056_02.jpg    2         1    1        1          1

   downblue  downbrown  downgray  ...  uppurple  upred  upwhite  upyellow  \
0         2          1         1  ...         1      2        1         1
1         2          1         1  ...         1      2        1         1
2         2          1         1  ...         1      2        1         1
3         2          1         1  ...         1      2        1         1
4         2          1         1  ...         1      2        1         1

   clothes  down  up  hair  hat  gender
0        2     2   2     1    1       1
1        2     2   2     1    1       1
2        2     2   2     1    1       1
3        2     2   2     1    1       1
4        2     2   2     1    1       1

[5 rows x 29 columns]

In [13]:
train

,id,filename,age,backpack,bag,handbag,downblack,downblue,downbrown,downgray,...,uppurple,upred,upwhite,upyellow,clothes,down,up,hair,hat,gender
0,2,0002_c1s1_000451_03.jpg,2,1,1,1,1,2,1,1,...,1,2,1,1,2,2,2,1,1,1
1,2,0002_c1s1_000551_01.jpg,2,1,1,1,1,2,1,1,...,1,2,1,1,2,2,2,1,1,1
2,2,0002_c1s1_000776_01.jpg,2,1,1,1,1,2,1,1,...,1,2,1,1,2,2,2,1,1,1
3,2,0002_c1s1_000801_01.jpg,2,1,1,1,1,2,1,1,...,1,2,1,1,2,2,2,1,1,1
4,2,0002_c1s1_069056_02.jpg,2,1,1,1,1,2,1,1,...,1,2,1,1,2,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12931,1500,1500_c3s3_062778_01.jpg,2,2,1,1,1,1,1,2,...,1,1,1,1,2,2,2,1,1,1
12932,1500,1500_c5s3_063312_02.jpg,2,2,1,1,1,1,1,2,...,1,1,1,1,2,2,2,1,1,1
12933,1500,1500_c5s3_063337_02.jpg,2,2,1,1,1,1,1,2,...,1,1,1,1,2,2,2,1,1,1
12934,1500,1500_c6s3_086542_02.jpg,2,2,1,1,1,1,1,2,...,1,1,1,1,2,2,2,1,1,1
12935,1500,1500_c6s3_086567_01.jpg,2,2,1,1,1,1,1,2,...,1,1,1,1,2,2,2,1,1,1

In [14]:

train.to_csv('..//new_train.csv', index=False)

In [3]:
test = pd.read_csv("../test.csv")

In [4]:
test

,age,backpack,bag,handbag,downblack,downblue,downbrown,downgray,downgreen,downpink,...,upwhite,upyellow,clothes,down,up,hair,hat,gender,id,filename
0,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_000401_03.jpg
1,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_000451_04.jpg
2,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_001351_04.jpg
3,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_001376_05.jpg
4,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_011251_02.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16929,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075369_02.jpg
16930,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075394_03.jpg
16931,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075419_03.jpg
16932,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c6s4_001877_01.jpg
16933,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c6s4_001902_01.jpg

In [19]:
import pandas as pd

columns = ['id', 'filename'] + [col for col in test.columns if col not in ['id', 'filename']]

test = test[columns]

print(test.head())

   id               filename  age  backpack  bag  handbag  downblack  \
0   1  -1_c1s1_000401_03.jpg    2         1    1        1          1
1   1  -1_c1s1_000451_04.jpg    2         1    1        1          1
2   1  -1_c1s1_001351_04.jpg    2         1    1        1          1
3   1  -1_c1s1_001376_05.jpg    2         1    1        1          1
4   1  -1_c1s1_011251_02.jpg    2         1    1        1          1

   downblue  downbrown  downgray  ...  uppurple  upred  upwhite  upyellow  \
0         1          1         1  ...         1      1        2         1
1         1          1         1  ...         1      1        2         1
2         1          1         1  ...         1      1        2         1
3         1          1         1  ...         1      1        2         1
4         1          1         1  ...         1      1        2         1

   clothes  down  up  hair  hat  gender
0        1     2   2     2    1       2
1        1     2   2     2    1       2
2        1     2   2     2    1       2
3        1     2   2     2    1       2
4        1     2   2     2    1       2

[5 rows x 29 columns]

In [5]:
test

,age,backpack,bag,handbag,downblack,downblue,downbrown,downgray,downgreen,downpink,...,upwhite,upyellow,clothes,down,up,hair,hat,gender,id,filename
0,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_000401_03.jpg
1,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_000451_04.jpg
2,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_001351_04.jpg
3,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_001376_05.jpg
4,2,1,1,1,1,1,1,1,1,1,...,2,1,1,2,2,2,1,2,1,-1_c1s1_011251_02.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16929,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075369_02.jpg
16930,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075394_03.jpg
16931,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c3s3_075419_03.jpg
16932,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c6s4_001877_01.jpg
16933,2,2,1,1,1,1,1,1,1,1,...,2,1,2,2,2,2,1,2,1501,1501_c6s4_001902_01.jpg

In [7]:
import pandas as pd

test['id'] = test['id'].astype(int).apply(lambda x: f"{x:04d}")

print(test.head())

   age  backpack  bag  handbag  downblack  downblue  downbrown  downgray  \
0    2         1    1        1          1         1          1         1
1    2         1    1        1          1         1          1         1
2    2         1    1        1          1         1          1         1
3    2         1    1        1          1         1          1         1
4    2         1    1        1          1         1          1         1

   downgreen  downpink  ...  upwhite  upyellow  clothes  down  up  hair  hat  \
0          1         1  ...        2         1        1     2   2     2    1
1          1         1  ...        2         1        1     2   2     2    1
2          1         1  ...        2         1        1     2   2     2    1
3          1         1  ...        2         1        1     2   2     2    1
4          1         1  ...        2         1        1     2   2     2    1

   gender    id               filename
0       2  0001  -1_c1s1_000401_03.jpg
1       2  0001  -1_c1s1_000451_04.jpg
2       2  0001  -1_c1s1_001351_04.jpg
3       2  0001  -1_c1s1_001376_05.jpg
4       2  0001  -1_c1s1_011251_02.jpg

[5 rows x 29 columns]

In [8]:

test.to_csv('./new_test.csv', index=False)